In [1]:
import pandas as pd
import numpy as np

import zipfile # handling zip folder

## Importing CSV

In [2]:
zip_file_path = "Data/court_data.csv.zip"
extract_folder = "Data"

In [3]:
def unzip_csv(zip_file_path, extract_folder):
    with zipfile.ZipFile(zip_file_path, "r") as zip_ref:
        zip_ref.extractall(extract_folder)
        
unzip_csv(zip_file_path, extract_folder)

In [4]:
court_data = pd.read_csv("Data/court_data.csv")

C:\Users\Eric Kocheli\AppData\Local\Temp\ipykernel_13040\4017069686.py:1: DtypeWarning: Columns (6,14,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  court_data = pd.read_csv("Data/court_data.csv")

In [5]:
court_data.head()

,court,date_dd,date_mon,date_yyyy,caseid_type,caseid_no,filed_dd,filed_mon,filed_yyyy,case_type,...,firstparty_f,firstparty_org,secondparty_m,secondparty_f,secondparty_o,legalrep,p_witness,d_witness,custody,other_details
0,363052 High Court,23.0,May,2023.0,HCCRC,1,9,JAN,2019.0,MURDER CASE,...,NaN,1.0,1.0,NaN,NaN,YES,NaN,NaN,0.0,NaN
1,363052 High Court,19.0,Sep,2022.0,HCFP&A,171,4,MAR,2015.0,PROBATE ADMINISTRATION,...,NaN,NaN,NaN,NaN,NaN,YES,NaN,NaN,0.0,NaN
2,363052 High Court,21.0,Jun,2023.0,HCCCMISC,E021,17,APR,2023.0,CIVIL CASE MISCELLANEOUS,...,NaN,1.0,NaN,2.0,NaN,YES,NaN,NaN,0.0,NaN
3,363052 High Court,21.0,Sep,2022.0,HCCRMISCAPPL,E045,10,JUN,2021.0,CRIMINAL MISCELLANEOUS,...,NaN,NaN,NaN,NaN,1.0,YES,NaN,NaN,0.0,NaN
4,363052 High Court,6.0,Mar,2023.0,HCCRA,E025,19,AUG,2021.0,CRIMINAL APPEAL,...,NaN,NaN,NaN,NaN,1.0,YES,NaN,NaN,1.0,NaN

## Importing an Excel File

In [6]:
sample_dat = pd.read_excel("Data/sample_data.xlsx")
sample_dat.tail()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
2156,NaN,28,Apr,2023,QRSUCCMISC,E085,19,Apr,2023,NaN,...,NaN,NaN,1,NaN,NaN,Yes,NaN,NaN,0,NaN
2157,NaN,28,Apr,2023,QRSUCCMISC,E074,6,Apr,2023,NaN,...,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,0,NaN
2158,NaN,28,Apr,2023,QRCC,E216,28,Apr,2023,NaN,...,NaN,NaN,2,1,NaN,Yes,NaN,NaN,0,Certificate of urgency activity auto-created
2159,NaN,28,Apr,2023,QRELCMISC,E009,27,Apr,2023,NaN,...,NaN,NaN,NaN,1,NaN,No,NaN,NaN,0,Certificate of urgency activity auto-created
2160,NaN,28,Apr,2023,QRCC,24,24,Jan,2020,NaN,...,NaN,NaN,1,NaN,NaN,Yes,NaN,NaN,0,Certificate of urgency activity auto-created

### Preview the data

In [7]:
court_data.shape

(357229, 28)

In [8]:
court_data.shape[0]

357229

In [9]:
# improved version on the shape
print(f"The data has: \n\t * {court_data.shape[0]} rows. \n\t * {court_data.shape[1]} columns")

The data has:
	 * 357229 rows.
	 * 28 columns

In [10]:
court_data.columns

Index(['court', 'date_dd', 'date_mon', 'date_yyyy', 'caseid_type', 'caseid_no',
       'filed_dd', 'filed_mon', 'filed_yyyy', 'case_type', 'judge',
       'comingfor', 'outcome', 'reason_adj', 'next_dd', 'next_mon',
       'next_yyyy', 'fisrtparty_m', 'firstparty_f', 'firstparty_org',
       'secondparty_m', 'secondparty_f', 'secondparty_o', 'legalrep',
       'p_witness', 'd_witness', 'custody', 'other_details'],
      dtype='object')

In [11]:
# raws data
court_data.dtypes
# object is a string in pandas
# date is called datetime

court              object
date_dd           float64
date_mon           object
date_yyyy         float64
caseid_type        object
caseid_no          object
filed_dd           object
filed_mon          object
filed_yyyy        float64
case_type          object
judge              object
comingfor          object
outcome            object
reason_adj         object
next_dd            object
next_mon           object
next_yyyy          object
fisrtparty_m       object
firstparty_f      float64
firstparty_org    float64
secondparty_m     float64
secondparty_f     float64
secondparty_o     float64
legalrep           object
p_witness         float64
d_witness         float64
custody           float64
other_details      object
dtype: object

In [12]:
# brief description of the data
court_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357229 entries, 0 to 357228
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   court           357229 non-null  object
 1   date_dd         357228 non-null  float64
 2   date_mon        357229 non-null  object
 3   date_yyyy       357228 non-null  float64
 4   caseid_type     357229 non-null  object
 5   caseid_no       357225 non-null  object
 6   filed_dd        356744 non-null  object
 7   filed_mon       356748 non-null  object
 8   filed_yyyy      357224 non-null  float64
 9   case_type       357228 non-null  object
 10  judge           355142 non-null  object
 11  comingfor       357229 non-null  object
 12  outcome         357229 non-null  object
 13  reason_adj      19303 non-null   object
 14  next_dd         264858 non-null  object
 15  next_mon        264858 non-null  object
 16  next_yyyy       264849 non-null  object
 17  fisrtparty_m    154212 non-null  object
 18  firstparty_f    54968 non-null   float64
 19  firstparty_org  114241 non-null  float64
 20  secondparty_m   130603 non-null  float64
 21  secondparty_f   51315 non-null   float64
 22  secondparty_o   147066 non-null  float64
 23  legalrep        352715 non-null  object
 24  p_witness       16668 non-null   float64
 25  d_witness       14355 non-null   float64
 26  custody         292139 non-null  float64
 27  other_details   51857 non-null   object
dtypes: float64(11), object(17)
memory usage: 76.3+ MB

In [13]:
court_data.describe()

,date_dd,date_yyyy,filed_yyyy,firstparty_f,firstparty_org,secondparty_m,secondparty_f,secondparty_o,p_witness,d_witness,custody
count,357228.000000,357228.000000,357224.000000,54968.000000,114241.000000,130603.000000,51315.000000,147066.000000,16668.000000,14355.000000,292139.000000
mean,16.509898,2022.543107,2018.897983,1.217217,1.088760,1.401354,1.235214,1.407484,0.779098,0.551585,0.117930
std,8.587839,0.498229,6.918775,0.739539,0.521945,1.111128,0.815561,1.447958,1.169312,0.800000,2.200147
min,1.000000,2017.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.000000,2022.000000,2018.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
50%,17.000000,2023.000000,2021.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
75%,24.000000,2023.000000,2022.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,31.000000,2023.000000,2920.000000,29.000000,25.000000,59.000000,46.000000,97.000000,38.000000,15.000000,1133.000000

In [14]:
court_data["outcome"].value_counts()

MENTION DATE SET (IN COURT)      111180
DIRECTIONS GIVEN                  63999
CASE REGISTERED/FILED             34890
HEARING DATE SET (IN COURT)       29376
ADJOURNMENT                       18788
                                  ...
PLACED BEFORE PRESIDING JUDGE         1
TAKEN TO PJ FOR CERTIFICATE           1
MATTER MARKED AS CLOSED               1
TRANSFERRED TO ELC                    1
PLEA                                  1
Name: outcome, Length: 130, dtype: int64

## Data Cleaning
Understanding the different types of data issues that may be available in your data
* Missing Values
* Duplicated Entries
* Outliers
* Inconsistencies

In [15]:
court_data.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
357224    False
357225    False
357226    False
357227    False
357228    False
Length: 357229, dtype: bool

In [16]:
court_data.duplicated().any()

True

In [17]:
court_data.duplicated().value_counts()

False    353052
True       4177
dtype: int64

In [19]:
dup_no = 0
for dup in court_data.duplicated():
    if (dup == True):
        dup_no += 1
dup_no

4177

In [20]:
print(f"{np.round(((dup_no/len(court_data)) * 100), 4)}% of the Court Data is duplicated")

1.1693% of the Court Data is duplicated

In [25]:
court_data.drop_duplicates(subset= None, keep= "first", inplace = True)

In [27]:
court_data.duplicated().value_counts()

False    353052
dtype: int64