In [1]:
import pandas as pd
import numpy as np

In [15]:
col_names = ["empty","T-Day","T-Month","T-Year", "Code", "No", "R-Day","R-Month","R-Year",
         "Origin Court", "Origin Code", "Origin No", "Origin Year", "Specific Case Type",
         "Judge 1", "Judge 2", "Judge 3", "Judge 4", "Judge 5", "Judge 6", "Judge 7", 
         "Case coming for", "Case OutCome", "Reason of adjournment", "N-Day","N-Month",
         "N-Year","P-M", "P-F","P-Org.", "D-M", "D-F", "D-Org.", "Legal Rep", "Witness-P", "Witness-D",
         "Crim-Custody","Other Details"]

In [32]:
sample_data = pd.read_excel("sample_data.xlsx", names = col_names)

In [33]:
sample_data.head()

,empty,T-Day,T-Month,T-Year,Code,No,R-Day,R-Month,R-Year,Origin Court,...,P-F,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details
0,NaN,Court station name: \n(Entry required.),NaN,NaN,A. N. Other,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN
2,NaN,\nToday's date\n\n\n\n\n\n,NaN,NaN,\nCase Number and date of Registration)\n\n,NaN,NaN,NaN,NaN,\n*Appeal cases only: ...,...,NaN,NaN,\nNo. of defendants/accused\n\n\n\n\n,NaN,NaN,\nDo any of the parties have legal representat...,\nNo. of witnesses testified in court today\n\n\n,NaN,"\nCriminal cases only: \nOf the accused, how m...",\nOther important details of the case
3,NaN,Day,Month,Year,Code,No.,Day,Month,Year,Name of Court,...,F,Org.,M,F,Org.,(Y/N),P \n(Enter No.),D\n(Enter No.),(Enter No.),(Free text)
4,NaN,3,Apr,2023,QRCR,E642,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN

In [34]:
sample_data.drop(index=range(0, 4), inplace=True)

In [35]:
sample_data.head(15)

,empty,T-Day,T-Month,T-Year,Code,No,R-Day,R-Month,R-Year,Origin Court,...,P-F,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details
4,NaN,3,Apr,2023,QRCR,E642,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
5,NaN,3,Apr,2023,QRCR,E1411,31,Oct,2022,NaN,...,NaN,1,1,NaN,NaN,No,NaN,1,0,NaN
6,NaN,3,Apr,2023,QRCR,E649,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
7,NaN,3,Apr,2023,QRCR,E638,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
8,NaN,3,Apr,2023,QRCRMISC,E109,3,Apr,2023,NaN,...,NaN,1,NaN,2,NaN,No,NaN,NaN,2,NaN
9,NaN,3,Apr,2023,QRCR,E637,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
10,NaN,3,Apr,2023,QRCR,E639,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,0,NaN
11,NaN,3,Apr,2023,QRCR,E643,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
12,NaN,3,Apr,2023,QRCRMISC,E107,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
13,NaN,3,Apr,2023,QRCR,34,6,Jan,2020,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,0,NaN
14,NaN,3,Apr,2023,QRCR,E361,14,Feb,2023,NaN,...,NaN,1,1,NaN,NaN,Yes,NaN,NaN,0,NaN
15,NaN,3,Apr,2023,QRCR,E481,6,Mar,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
16,NaN,3,Apr,2023,QRCR,E480,6,Mar,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
17,NaN,3,Apr,2023,QRSO,E031,3,Mar,2022,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,0,NaN
18,NaN,3,Apr,2023,QRCR,E995,1,Aug,2022,NaN,...,NaN,1,NaN,1,NaN,No,NaN,NaN,0,NaN

In [36]:
sample_data.reset_index(drop=True, inplace=True)

In [37]:
sample_data.head(15)

,empty,T-Day,T-Month,T-Year,Code,No,R-Day,R-Month,R-Year,Origin Court,...,P-F,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details
0,NaN,3,Apr,2023,QRCR,E642,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
1,NaN,3,Apr,2023,QRCR,E1411,31,Oct,2022,NaN,...,NaN,1,1,NaN,NaN,No,NaN,1,0,NaN
2,NaN,3,Apr,2023,QRCR,E649,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
3,NaN,3,Apr,2023,QRCR,E638,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
4,NaN,3,Apr,2023,QRCRMISC,E109,3,Apr,2023,NaN,...,NaN,1,NaN,2,NaN,No,NaN,NaN,2,NaN
5,NaN,3,Apr,2023,QRCR,E637,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
6,NaN,3,Apr,2023,QRCR,E639,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,0,NaN
7,NaN,3,Apr,2023,QRCR,E643,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
8,NaN,3,Apr,2023,QRCRMISC,E107,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
9,NaN,3,Apr,2023,QRCR,34,6,Jan,2020,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,0,NaN
10,NaN,3,Apr,2023,QRCR,E361,14,Feb,2023,NaN,...,NaN,1,1,NaN,NaN,Yes,NaN,NaN,0,NaN
11,NaN,3,Apr,2023,QRCR,E481,6,Mar,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
12,NaN,3,Apr,2023,QRCR,E480,6,Mar,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
13,NaN,3,Apr,2023,QRSO,E031,3,Mar,2022,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,0,NaN
14,NaN,3,Apr,2023,QRCR,E995,1,Aug,2022,NaN,...,NaN,1,NaN,1,NaN,No,NaN,NaN,0,NaN

In [44]:
sample_data.drop(columns=["empty"], inplace=True)

In [45]:
# create the column today days
sample_data["Today's Date"] = sample_data["T-Day"].astype(str) + "-" + sample_data["T-Month"] + "-" + sample_data["T-Year"].astype(str)

In [47]:
# concatenate t-dates
sample_data.head()

,T-Day,T-Month,T-Year,Code,No,R-Day,R-Month,R-Year,Origin Court,Origin Code,...,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details,Today's Date
0,3,Apr,2023,QRCR,E642,3,Apr,2023,NaN,NaN,...,1,1,NaN,NaN,No,NaN,NaN,1,NaN,3-Apr-2023
1,3,Apr,2023,QRCR,E1411,31,Oct,2022,NaN,NaN,...,1,1,NaN,NaN,No,NaN,1,0,NaN,3-Apr-2023
2,3,Apr,2023,QRCR,E649,3,Apr,2023,NaN,NaN,...,1,1,NaN,NaN,No,NaN,NaN,1,NaN,3-Apr-2023
3,3,Apr,2023,QRCR,E638,3,Apr,2023,NaN,NaN,...,1,1,NaN,NaN,No,NaN,NaN,1,NaN,3-Apr-2023
4,3,Apr,2023,QRCRMISC,E109,3,Apr,2023,NaN,NaN,...,1,NaN,2,NaN,No,NaN,NaN,2,NaN,3-Apr-2023

In [49]:
# Convert to date
sample_data["Today's Date"] = pd.to_datetime(sample_data["Today's Date"], format='%d-%b-%Y')

In [50]:
sample_data.dtypes

T-Day                            object
T-Month                          object
T-Year                           object
Code                             object
No                               object
R-Day                            object
R-Month                          object
R-Year                           object
Origin Court                     object
Origin Code                      object
Origin No                        object
Origin Year                      object
Specific Case Type               object
Judge 1                          object
Judge 2                          object
Judge 3                          object
Judge 4                          object
Judge 5                          object
Judge 6                          object
Judge 7                          object
Case coming for                  object
Case OutCome                     object
Reason of adjournment            object
N-Day                            object
N-Month                          object
N-Year                           object
P-M                              object
P-F                              object
P-Org.                           object
D-M                              object
D-F                              object
D-Org.                           object
Legal Rep                        object
Witness-P                        object
Witness-D                        object
Crim-Custody                     object
Other Details                    object
Today's Date             datetime64[ns]
dtype: object

In [52]:
sample_data.drop(columns=["T-Day", "T-Month", "T-Year"], inplace=True)

In [53]:
sample_data.head()

,Code,No,R-Day,R-Month,R-Year,Origin Court,Origin Code,Origin No,Origin Year,Specific Case Type,...,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details,Today's Date
0,QRCR,E642,3,Apr,2023,NaN,NaN,NaN,NaN,"Burglary, housebreaking, entering dwelling-hou...",...,1,1,NaN,NaN,No,NaN,NaN,1,NaN,2023-04-03
1,QRCR,E1411,31,Oct,2022,NaN,NaN,NaN,NaN,"Burglary, housebreaking, entering dwelling-hou...",...,1,1,NaN,NaN,No,NaN,1,0,NaN,2023-04-03
2,QRCR,E649,3,Apr,2023,NaN,NaN,NaN,NaN,Possession of narcotic drugs and psychotropic ...,...,1,1,NaN,NaN,No,NaN,NaN,1,NaN,2023-04-03
3,QRCR,E638,3,Apr,2023,NaN,NaN,NaN,NaN,"Grievous harm, maim, assault causing actual bo...",...,1,1,NaN,NaN,No,NaN,NaN,1,NaN,2023-04-03
4,QRCRMISC,E109,3,Apr,2023,NaN,NaN,NaN,NaN,Criminal Miscellaneous Application,...,1,NaN,2,NaN,No,NaN,NaN,2,NaN,2023-04-03

In [54]:
# change the positon of a new-column
sample_data.insert(0, "Today's Date", sample_data.pop("Today's Date"))

In [55]:
sample_data.head()

,Today's Date,Code,No,R-Day,R-Month,R-Year,Origin Court,Origin Code,Origin No,Origin Year,...,P-F,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details
0,2023-04-03,QRCR,E642,3,Apr,2023,NaN,NaN,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
1,2023-04-03,QRCR,E1411,31,Oct,2022,NaN,NaN,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,1,0,NaN
2,2023-04-03,QRCR,E649,3,Apr,2023,NaN,NaN,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
3,2023-04-03,QRCR,E638,3,Apr,2023,NaN,NaN,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
4,2023-04-03,QRCRMISC,E109,3,Apr,2023,NaN,NaN,NaN,NaN,...,NaN,1,NaN,2,NaN,No,NaN,NaN,2,NaN