In [16]:
# these two libraries are used in the manipulation of data in a data frame and array respectively
import pandas as pd
import numpy as np

In [17]:
# this is a list showing the names of the columns that we shall be using in our data.
col_names = ["empty","T-Day","T-Month","T-Year", "Code", "No", "R-Day","R-Month","R-Year",
         "Origin Court", "Origin Code", "Origin No", "Origin Year", "Specific Case Type",
         "Judge 1", "Judge 2", "Judge 3", "Judge 4", "Judge 5", "Judge 6", "Judge 7", 
         "Case coming for", "Case OutCome", "Reason of adjournment", "N-Day","N-Month",
         "N-Year","P-M", "P-F","P-Org.", "D-M", "D-F", "D-Org.", "Legal Rep", "Witness-P", "Witness-D",
         "Crim-Custody","Other Details"]
len(col_names)

38

In [18]:
""" we creating a data frame (samaple_data) by reading an excel file and 
allocating the list above as the column name """
sample_data = pd.read_excel("Data/Sample Data.xlsx", names = col_names)

In [19]:
# we're displaying the first six rows of the data frame using the method
sample_data.head(6)

,empty,T-Day,T-Month,T-Year,Code,No,R-Day,R-Month,R-Year,Origin Court,...,P-F,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details
0,NaN,Court station name: \n(Entry required.),NaN,NaN,A. N. Other,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN
2,NaN,\nToday's date\n\n\n\n\n\n,NaN,NaN,\nCase Number and date of Registration)\n\n,NaN,NaN,NaN,NaN,\n*Appeal cases only: ...,...,NaN,NaN,\nNo. of defendants/accused\n\n\n\n\n,NaN,NaN,\nDo any of the parties have legal representat...,\nNo. of witnesses testified in court today\n\n\n,NaN,"\nCriminal cases only: \nOf the accused, how m...",\nOther important details of the case
3,NaN,Day,Month,Year,Code,No.,Day,Month,Year,Name of Court,...,F,Org.,M,F,Org.,(Y/N),P \n(Enter No.),D\n(Enter No.),(Enter No.),(Free text)
4,NaN,3,Apr,2023,QRCR,E642,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
5,NaN,3,Apr,2023,QRCR,E1411,31,Oct,2022,NaN,...,NaN,1,1,NaN,NaN,No,NaN,1,0,NaN

In [20]:
# we're replacing/droping the first 4 rows of the dataframe and saving the changes permanently in our dataframe 
sample_data.drop(index=[0, 1, 2, 3], inplace = True)

In [21]:
# displaying the first five rows of the data frame to show the changes
sample_data.head()

,empty,T-Day,T-Month,T-Year,Code,No,R-Day,R-Month,R-Year,Origin Court,...,P-F,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details
4,NaN,3,Apr,2023,QRCR,E642,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
5,NaN,3,Apr,2023,QRCR,E1411,31,Oct,2022,NaN,...,NaN,1,1,NaN,NaN,No,NaN,1,0,NaN
6,NaN,3,Apr,2023,QRCR,E649,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
7,NaN,3,Apr,2023,QRCR,E638,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
8,NaN,3,Apr,2023,QRCRMISC,E109,3,Apr,2023,NaN,...,NaN,1,NaN,2,NaN,No,NaN,NaN,2,NaN

In [22]:
""" the dropped rows had indexes and we use this method to reset the indexes 
as in the original data """
sample_data.reset_index(drop = True, inplace = True)

In [23]:
# we're droping the first column of the dataframe which was empty and making the changes permanent.
sample_data.drop(columns=["empty"], inplace=True)

In [24]:
sample_data.head()

,T-Day,T-Month,T-Year,Code,No,R-Day,R-Month,R-Year,Origin Court,Origin Code,...,P-F,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details
0,3,Apr,2023,QRCR,E642,3,Apr,2023,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
1,3,Apr,2023,QRCR,E1411,31,Oct,2022,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,1,0,NaN
2,3,Apr,2023,QRCR,E649,3,Apr,2023,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
3,3,Apr,2023,QRCR,E638,3,Apr,2023,NaN,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
4,3,Apr,2023,QRCRMISC,E109,3,Apr,2023,NaN,NaN,...,NaN,1,NaN,2,NaN,No,NaN,NaN,2,NaN

In [25]:
# this method displays the number of rows and columns in the data frame
sample_data.shape

(2157, 37)

In [26]:
""" this method displays a summary on whether the columns have are fully 
populated or not """
sample_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2157 entries, 0 to 2156
Data columns (total 37 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   T-Day                  2157 non-null   object
 1   T-Month                2157 non-null   object
 2   T-Year                 2157 non-null   object
 3   Code                   2157 non-null   object
 4   No                     2157 non-null   object
 5   R-Day                  2157 non-null   object
 6   R-Month                2157 non-null   object
 7   R-Year                 2157 non-null   object
 8   Origin Court           0 non-null      object
 9   Origin Code            0 non-null      object
 10  Origin No              0 non-null      object
 11  Origin Year            0 non-null      object
 12  Specific Case Type     2157 non-null   object
 13  Judge 1                2157 non-null   object
 14  Judge 2                0 non-null      object
 15  Judge 3                0 non-null      object
 16  Judge 4                0 non-null      object
 17  Judge 5                0 non-null      object
 18  Judge 6                0 non-null      object
 19  Judge 7                0 non-null      object
 20  Case coming for        2157 non-null   object
 21  Case OutCome           2157 non-null   object
 22  Reason of adjournment  156 non-null    object
 23  N-Day                  1639 non-null   object
 24  N-Month                1639 non-null   object
 25  N-Year                 1639 non-null   object
 26  P-M                    539 non-null    object
 27  P-F                    248 non-null    object
 28  P-Org.                 1425 non-null   object
 29  D-M                    1669 non-null   object
 30  D-F                    433 non-null    object
 31  D-Org.                 244 non-null    object
 32  Legal Rep              2157 non-null   object
 33  Witness-P              77 non-null     object
 34  Witness-D              25 non-null     object
 35  Crim-Custody           1697 non-null   object
 36  Other Details          506 non-null    object
dtypes: object(37)
memory usage: 623.6+ KB

in the following function we're trying to do the following
* check if there are any duplicated rows
* count the number of missing rows and display the same.
* drop the duplicates and display the action.
* finally return the dataframe with the new changes.

In [27]:
def duplicated_data(data):
    
    if (data.duplicated(subset = None, keep = "first").any() == True):
        
        duplicated_count = data.duplicated().value_counts()
        
        num_duplicates = duplicated_count[True]
        print(f"{num_duplicates} duplicates found.")
        data.drop_duplicates(subset = None, keep = "first", inplace = True)
        print("Duplicates removed.")
            
        data.reset_index(drop = True, inplace = True)
            
        return data
    else:
        print("No duplicates found.")
        return data
    
sample_data = duplicated_data(sample_data)

2 duplicates found.
Duplicates removed.

In [28]:
""" In general, we shall create a variable miss to store all the columns with missing data and 
sort them in descending order. A variable percenatge_miss will be created to check out the ratio of 
missing data to the len of the column. We shall also create a data frame "missing" to display
the "miss" and "percentage miss" data and finally drop all data with no missing value so that we can 
only remain with the data that has missing values in our data frame.
"""
def missing_values(data):
    miss = data.isnull().sum().sort_values(ascending = False)

    percentage_miss = (np.round((data.isnull().sum() / len(data)) * 100, 3)).sort_values(ascending = False)

    missing = pd.DataFrame({"Missing Values": miss, "Percentage(%)": percentage_miss})

    missing.drop(missing[missing["Percentage(%)"] == 0].index, inplace = True)

    return missing


missing_data = missing_values(sample_data)
missing_data

                       Missing Values  Percentage(%)
Judge 6                          2155        100.000
Judge 4                          2155        100.000
Origin Court                     2155        100.000
Origin Code                      2155        100.000
Origin No                        2155        100.000
Origin Year                      2155        100.000
Judge 7                          2155        100.000
Judge 5                          2155        100.000
Judge 2                          2155        100.000
Judge 3                          2155        100.000
Witness-D                        2130         98.840
Witness-P                        2078         96.427
Reason of adjournment            1999         92.761
D-Org.                           1912         88.724
P-F                              1907         88.492
D-F                              1722         79.907
Other Details                    1649         76.520
P-M                              1617         75.035
P-Org.                            731         33.921
N-Day                             518         24.037
N-Month                           518         24.037
N-Year                            518         24.037
D-M                               487         22.599
Crim-Custody                      460         21.346

In [30]:
"""
Here we shall drop all empty columns. ie. where the percentage of the missing
data is 100%
"""
def remove_columns_with_100_percent_missing(data):
    missing_data = missing_values(data)
    columns_to_remove = missing_data[missing_data["Percentage(%)"] == 100].index
    data.drop(columns = columns_to_remove, inplace = True)
    return data

sample_data = remove_columns_with_100_percent_missing(sample_data)

In [31]:
missing_data = missing_values(sample_data)
missing_data

                       Missing Values  Percentage(%)
Witness-D                        2130         98.840
Witness-P                        2078         96.427
Reason of adjournment            1999         92.761
D-Org.                           1912         88.724
P-F                              1907         88.492
D-F                              1722         79.907
Other Details                    1649         76.520
P-M                              1617         75.035
P-Org.                            731         33.921
N-Year                            518         24.037
N-Month                           518         24.037
N-Day                             518         24.037
D-M                               487         22.599
Crim-Custody                      460         21.346

In [45]:
"""
We shall concatenate the columns with dates to form a new column then convert
the same into the the "datetime format" and to be able to address the columns with missing 
dates, we shall employ the errors="coerce" so that python can not return the missing value
error.
"""
def datetime(data, new_col, day, month, year, date_format, index):
    
    data[new_col] = data[day].astype(str) + "-" + data[month] + "-" + data[year].astype(str)
    
    data[new_col] = pd.to_datetime(data[new_col], format=date_format, errors = "coerce")
    
    data.insert(index, new_col, data.pop(new_col))
    
    data.drop(columns=[day, month, year], inplace=True)
    
    return data

In [46]:
sample_data = datetime(sample_data, "Today's Date", 'T-Day', 'T-Month', 'T-Year', "%d-%b-%Y", 0)

In [47]:
sample_data = datetime(sample_data, "Registration Date", "R-Day", "R-Month", "R-Year", "%d-%b-%Y", 3)

In [48]:
sample_data = datetime(sample_data, "Next Court Date", "N-Day", "N-Month", "N-Year", "%d-%b-%Y", 9)

In [49]:
sample_data.dtypes

Today's Date             datetime64[ns]
Code                             object
No                               object
Registration Date        datetime64[ns]
Specific Case Type               object
Judge 1                          object
Case coming for                  object
Case OutCome                     object
Reason of adjournment            object
Next Court Date          datetime64[ns]
P-M                              object
P-F                              object
P-Org.                           object
D-M                              object
D-F                              object
D-Org.                           object
Legal Rep                        object
Witness-P                        object
Witness-D                        object
Crim-Custody                     object
Other Details                    object
dtype: object

In [50]:
# display the first 5 rows displaying the changes effected above.
sample_data.head()

,Today's Date,Code,No,Registration Date,Specific Case Type,Judge 1,Case coming for,Case OutCome,Reason of adjournment,Next Court Date,...,P-F,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details
0,2023-04-03,QRCR,E642,2023-04-03,"Burglary, housebreaking, entering dwelling-hou...",Hon A N Other,Plea,Mention date set (in court),NaN,2023-04-12,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
1,2023-04-03,QRCR,E1411,2022-10-31,"Burglary, housebreaking, entering dwelling-hou...",Hon XYZ,Hearing,Adjournment,Advocate not ready,2023-04-24,...,NaN,1,1,NaN,NaN,No,NaN,1,0,NaN
2,2023-04-03,QRCR,E649,2023-04-03,Possession of narcotic drugs and psychotropic ...,Hon A N Other,Plea,Mention date set (in court),NaN,2023-04-12,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
3,2023-04-03,QRCR,E638,2023-04-03,"Grievous harm, maim, assault causing actual bo...",Hon A N Other,Plea,Mention date set (in court),NaN,2023-04-17,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
4,2023-04-03,QRCRMISC,E109,2023-04-03,Criminal Miscellaneous Application,Hon A N Other,Certificate of urgency,Mention date set (in court),NaN,2023-04-12,...,NaN,1,NaN,2,NaN,No,NaN,NaN,2,NaN

In [52]:
sample_data["Case coming for"].value_counts()

Mention                             702
Registration/Filing                 407
Hearing                             323
Plea                                240
Certificate of urgency               64
Registration/Filing-New Case         53
Judgment                             47
Ruling                               43
Fresh Hearing                        41
Defense Hearing                      30
Part Heard Hearing                   30
Summons for Confirmation             22
Sentencing                           20
Inter Parte Hearing                  20
Hearing of Applications              20
Bond Approvals                       19
Hearing- Application                 18
Entering Interlocutory Judgments     10
Pre-Trial Conference                  8
Formal Proof Hearing                  7
Notice to Show Cause (NTSC)           7
Filing Application                    6
Submissions                           4
Ruling on Applications                4
Orders                                3
Directions                            2
Hearing Date                          2
Rectification of Grant                1
Taxation                              1
Assessment of costs                   1
Name: Case coming for, dtype: int64