In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from matplotlib.cbook import boxplot_stats

In [4]:
students_data = pd.read_csv("data/students_data.csv", sep =",", index_col=0)

In [5]:
students_data.tail()

,names,admission number,house,balance,english,kiswahili,mathematics,science,sst/cre,Creative Arts,music
142,"TIMOTHY NDEDA, OBURA",13322634.0,Elgon,0,-78.0,40.0,99.0,70.0,49.0,99&,92&
143,"MUKUHA JERIEL, NGARA",1932845.0,Cherangani,321,94.0,780.0,420.0,71.0,88.0,56%,76%
144,"JOB, KAMAU",1430232.0,Nandi,"43,200",98.0,80.0,86.0,64.0,99.0,49%,69%
145,"CHEGE, KAMAU",159.0,Nandi,NaN,508.0,409.0,77.0,58.0,56.0,88%,84%
146,"RAMADHAN, MUSA",87.0,Cherangani,NaN,81.0,70.0,64.0,680.0,88.0,76%,72%

In [6]:
students_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147 entries, 0 to 146
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   names             147 non-null    object
 1   admission number  124 non-null    float64
 2   house             26 non-null     object
 3   balance           58 non-null     object
 4   english           121 non-null    float64
 5   kiswahili         119 non-null    float64
 6   mathematics       130 non-null    float64
 7   science           117 non-null    float64
 8   sst/cre           132 non-null    float64
 9   Creative Arts     143 non-null    object
 10  music             147 non-null    object
dtypes: float64(6), object(5)
memory usage: 13.8+ KB

In [8]:
students_data.shape

(147, 11)

In [9]:
students_data.columns

Index(['names', 'admission number', 'house', 'balance', 'english', 'kiswahili',
       'mathematics', 'science', 'sst/cre', 'Creative Arts', 'music'],
      dtype='object')

## Duplicate and Unwanted Observation

In [10]:
students_data.duplicated(subset=None, keep="first").any()

True

In [11]:
students_data.duplicated().value_counts()

False    139
True       8
dtype: int64

In [12]:
students_data.drop_duplicates(subset=None, keep="first", inplace=True)

In [13]:
students_data.shape

(139, 11)

In [14]:
students_data.drop(columns=["house"], inplace=True)

In [15]:
students_data.shape

(139, 10)

## Missing Values

In [16]:
students_data.isnull()

,names,admission number,balance,english,kiswahili,mathematics,science,sst/cre,Creative Arts,music
0,False,False,True,False,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
142,False,False,False,False,False,False,False,False,False,False
143,False,False,False,False,False,False,False,False,False,False
144,False,False,False,False,False,False,False,False,False,False
145,False,False,True,False,False,False,False,False,False,False
146,False,False,True,False,False,False,False,False,False,False

In [17]:
students_data.isnull().any()

names               False
admission number     True
balance              True
english              True
kiswahili            True
mathematics          True
science              True
sst/cre              True
Creative Arts        True
music               False
dtype: bool

In [21]:
students_data["names"].isnull().any()

False

In [24]:
students_data.isna().sum()

names                0
admission number    23
balance             82
english             26
kiswahili           28
mathematics         17
science             30
sst/cre             15
Creative Arts        4
music                0
dtype: int64

In [26]:
# sort values is a functions that either on ascending or descending.
# use booleans so that ascending= True and descending=False
students_data.isna().sum().sort_values(ascending=False)

balance             82
science             30
kiswahili           28
english             26
admission number    23
mathematics         17
sst/cre             15
Creative Arts        4
names                0
music                0
dtype: int64

In [31]:
# quantity the missing values using %
(students_data.isna().sum() / len(students_data)).sort_values(ascending=False)

balance             0.589928
science             0.215827
kiswahili           0.201439
english             0.187050
admission number    0.165468
mathematics         0.122302
sst/cre             0.107914
Creative Arts       0.028777
names               0.000000
music               0.000000
dtype: float64

#### Replacing values

In [34]:
students_data.dtypes

names                object
admission number    float64
balance              object
english             float64
kiswahili           float64
mathematics         float64
science             float64
sst/cre             float64
Creative Arts        object
music                object
dtype: object

In [36]:
students_data["balance"].replace(to_replace = np.NaN, value="0", inplace=True, regex =True)

In [37]:
students_data.isna().sum()

names                0
admission number    23
balance              0
english             26
kiswahili           28
mathematics         17
science             30
sst/cre             15
Creative Arts        4
music                0
dtype: int64

In [38]:
students_data.columns

Index(['names', 'admission number', 'balance', 'english', 'kiswahili',
       'mathematics', 'science', 'sst/cre', 'Creative Arts', 'music'],
      dtype='object')

In [40]:
subjects_num = ['english', 'kiswahili', 'mathematics', 'science', 'sst/cre']

for col in subjects_num:
    students_data[col].replace(to_replace = np.NaN, value=students_data[col].mean(), inplace=True)

In [41]:
students_data.isna().sum()

names                0
admission number    23
balance              0
english              0
kiswahili            0
mathematics          0
science              0
sst/cre              0
Creative Arts        4
music                0
dtype: int64

In [42]:
subjects_rem = ['Creative Arts', 'music']

for rem in subjects_rem:
    students_data[rem] = students_data[rem].str.strip("%")

In [43]:
students_data.tail()

,names,admission number,balance,english,kiswahili,mathematics,science,sst/cre,Creative Arts,music
142,"TIMOTHY NDEDA, OBURA",13322634.0,0,-78.0,40.0,99.0,70.0,49.0,99&,92&
143,"MUKUHA JERIEL, NGARA",1932845.0,321,94.0,780.0,420.0,71.0,88.0,56,76
144,"JOB, KAMAU",1430232.0,"43,200",98.0,80.0,86.0,64.0,99.0,49,69
145,"CHEGE, KAMAU",159.0,0,508.0,409.0,77.0,58.0,56.0,88,84
146,"RAMADHAN, MUSA",87.0,0,81.0,70.0,64.0,680.0,88.0,76,72

In [44]:
students_data["Creative Arts"].replace(to_replace = np.NaN, value= students_data["Creative Arts"].mode(), inplace=True, regex =True)

ValueError: Series.replace cannot use dict-value and non-None to_replace

In [46]:
students_data["Creative Arts"].replace(to_replace = np.NaN, value = "0", inplace=True, regex =True)

In [47]:
students_data["Creative Arts"].astype(int)

ValueError: invalid literal for int() with base 10: '99&'

In [50]:
subjects_oth = ['Creative Arts', 'music']

for val in subjects_oth:
    students_data[val] = students_data[val].str.strip("&")

In [51]:
students_data.tail()

,names,admission number,balance,english,kiswahili,mathematics,science,sst/cre,Creative Arts,music
142,"TIMOTHY NDEDA, OBURA",13322634.0,0,-78.0,40.0,99.0,70.0,49.0,99,92
143,"MUKUHA JERIEL, NGARA",1932845.0,321,94.0,780.0,420.0,71.0,88.0,56,76
144,"JOB, KAMAU",1430232.0,"43,200",98.0,80.0,86.0,64.0,99.0,49,69
145,"CHEGE, KAMAU",159.0,0,508.0,409.0,77.0,58.0,56.0,88,84
146,"RAMADHAN, MUSA",87.0,0,81.0,70.0,64.0,680.0,88.0,76,72

In [52]:
students_data["Creative Arts"].astype(int)

0      99
1      38
2      86
3      77
4      64
       ..
142    99
143    56
144    49
145    88
146    76
Name: Creative Arts, Length: 139, dtype: int32

In [53]:
students_data["music"].astype(int)

0      80
1      86
2      62
3      80
4      46
       ..
142    92
143    76
144    69
145    84
146    72
Name: music, Length: 139, dtype: int32

In [54]:
students_data.head()

,names,admission number,balance,english,kiswahili,mathematics,science,sst/cre,Creative Arts,music
0,"JERIEL NDEDA, OBURA",13259.0,0,81.0,39.0,50.0,30.0,59.0,99,80
1,"MUKUHA TIMOTHY, KAMAU",13243.0,0,85.0,74.0,68.0,49.0,78.0,38,86
2,"JOB, NGARA",13307.0,0,54.0,49.0,53.0,59.0,72.0,86,62
3,"CHEGE DAVID, KAMAU",13258.0,0,71.0,97.0,92.0,41.0,81.0,77,80
4,"RAMADHAN MUSA, TEPO",13363.0,0,40.0,84.0,74.0,82.0,89.0,64,46